# Q1. List any five functions of the pandas library with execution.

In [1]:
Data={
    'Name':['Darshan','KUmar','Roy','Darshana'],
    'Age':[12,31,18,18],
    'Town':['PAvgada','Bengaluru','HYdrabad','Mumbai'],
    'Num':[91109,383767,387342,83878478]
}

In [3]:
# Head func shows the upper few data and can return how many much data we need to see(overview)
import pandas as pd 
df=pd.DataFrame(Data)
df.head(2)

      Name  Age       Town     Num
0  Darshan   12    PAvgada   91109
1    KUmar   31  Bengaluru  383767

In [4]:
#Tail Func is to see last  most data,We can specify how many rows we have to see
df.tail(2)

       Name  Age      Town       Num
2       Roy   18  HYdrabad    387342
3  Darshana   18    Mumbai  83878478

In [6]:
# Describe func wich returns a Mathemeticaly calculated data as a output
df.describe()

            Age           Num
count   4.00000  4.000000e+00
mean   19.75000  2.118517e+07
std     8.01561  4.179577e+07
min    12.00000  9.110900e+04
25%    16.50000  3.106025e+05
50%    18.00000  3.855545e+05
75%    21.25000  2.126013e+07
max    31.00000  8.387848e+07

In [22]:
# iloc() Func is used to acces the Accesdata Row Views
df1=df.iloc[3]
for i in df1:
    print(i)

Darshana
18
Mumbai
83878478

In [23]:
#columns is used see list of col titles
df.columns

Index(['Name', 'Age', 'Town', 'Num'], dtype='object')

In [27]:
import pandas as pd

def reindex_dataframe(df):
    new_index = range(1, len(df)*2, 2)  # Generate a new index starting from 1 and incrementing by 2
    df = df.reset_index(drop=True)  # Reset the existing index
    df.index = new_index  # Assign the new index to the DataFrame
    return df


Data={
    'A':['10','20','30','40'],
    'B':[50,60,70,80],
    'C':[100,110,120,130]
}
df=pd.DataFrame(Data)

reindex_dataframe(df)

    A   B    C
1  10  50  100
3  20  60  110
5  30  70  120
7  40  80  130

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [40]:
Data2={
    'Values':[10, 20, 30, 40, 50]
}
import pandas as pd
df2=pd.DataFrame(Data2)
Values=df2['Values']


# func to calcute sum of three numbers
def calc(val):
    final_sum=0
    for i in range(3):
        final_sum+=val[i]

    return final_sum

calc(Values)

60

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [62]:
# Dataframe With column "Text" 

Data3={
    'Text':['India is my country','Pavgada is my native','Bengaluru is our state cap','Hydrabad is famouse for biriyani','Chennai is famous for thala']
}
df3=pd.DataFrame(Data3)

df3['Word_count']=df3['Text'].apply(lambda x: len(x.split()))

df3

                               Text  Word_count
0               India is my country           4
1              Pavgada is my native           4
2        Bengaluru is our state cap           5
3  Hydrabad is famouse for biriyani           5
4       Chennai is famous for thala           5

# Q5. How are DataFrame.size() and DataFrame.shape() different?

In [69]:
Data3={
    'Number':[9110855370,8453036381,7795382838,98453036381]
}

df4=pd.DataFrame(Data3)

# Size returns the total number of elements in the column
#shape returns the  Row size and column size
print(df4.size)

print(df4.shape)

4
(4, 1)

# Q6. Which function of pandas do we use to read an excel file?

We use the func named `Read_excel()` Wich read the Excel file data  to the pandas env

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [75]:
Data4={
    'Email':['Darshan@gmail.com','Bharath@gamil.com','Naveen@gmail.com','Pavgada@gmail.com']
}

Gamil=pd.DataFrame(Data4)
Gamil['User_Name']=Gamil['Email'].apply(lambda x: x.split('@')[0])
Gamil

               Email User_Name
0  Darshan@gmail.com   Darshan
1  Bharath@gamil.com   Bharath
2   Naveen@gmail.com    Naveen
3  Pavgada@gmail.com   Pavgada

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:

In [81]:
Data6={
    'A':[3,8,6,2,9],
    'B':[5,2,9,3,1],
    'C':[1,7,4,5,2]
}


df6=pd.DataFrame(Data6)
df6[1:5:3]

   A  B  C
1  8  2  7
4  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [87]:
Data7={
    'Values':[120,220,330,440,550,660]
}

df7=pd.DataFrame(Data7)
print(df7.mean())
print(df7.median())
print(df7.std())

Values    386.666667
dtype: float64
Values    385.0
dtype: float64
Values    203.141986
dtype: float64

# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [102]:
import pandas as pd
dates=pd.date_range(start='2023-05-01' , end = '2023-05-12')
Data9={
    'Sales':[1100,1200,3000,4000,5000,10000,260000,366444,28833,9247833,34733,6000],
    'Date':[i for i in dates]
}
df8=pd.DataFrame(Data9)

df8['MovingAverage']= df8['Sales'].rolling(window=7).sum()

df8

      Sales       Date  MovingAverage
0      1100 2023-05-01            NaN
1      1200 2023-05-02            NaN
2      3000 2023-05-03            NaN
3      4000 2023-05-04            NaN
4      5000 2023-05-05            NaN
5     10000 2023-05-06            NaN
6    260000 2023-05-07       284300.0
7    366444 2023-05-08       649644.0
8     28833 2023-05-09       677277.0
9   9247833 2023-05-10      9922110.0
10    34733 2023-05-11      9952843.0
11     6000 2023-05-12      9953843.0

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values: Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [123]:
Data9={
    'Date':pd.date_range(start='2023-07-04',end='2023-07-11')
}
df10=pd.DataFrame(Data9)
df10['WeekDay']=df10['Date'].dt.day_name()

df10

TypeError: unsupported Type RangeIndex

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [136]:
import pandas as pd

def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime type
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')  # Create a boolean mask
    selected_rows = df[mask]  # Apply the mask to select rows
    return selected_rows
# Example DataFrame
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-02-01'], 'Value': [10, 20, 30]})

# Select rows between '2023-01-01' and '2023-01-31'
selected_df = select_rows_between_dates(df)

# Print the selected DataFrame
print(selected_df)

        Date  Value
0 2023-01-01     10
1 2023-01-15     20

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

`import pandas as pd` is fore most import